<body id="welcome">
	<div class="container">
		<div class="page-header">
			<div class="jumbotron">
				<h1>Welcome to the IMDB <small>_BOOK</small> </h1>
				<h2>This site make easier finding books for readers</h2>

				<%= link_to "Sign In",new_member_session_path, class:"btn btn-primary btn-block"%>
				<%= link_to "Sign Up",new_member_registration_path, class:"btn btn-danger btn-block" %>
			</div>
		</div>
	</div>
</body>