/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap-sprockets";
@import "bootstrap";


.book{
	background-image: image_url('newbook.jpg');
	background-size:cover;
}

#books{
	background-image: image_url('lib.jpg');
	background-size:cover;
}

.sign{
	background-image: image_url('sign.jpg');
	background-size:cover;
}

#welcomej {
	background-image: image_url('paper.jpg');
	background-size:cover;
}

#welcome {
	background-image: image_url('books.jpg');
	background-size: cover;
}

#bg {

    background-color: #0066CC ;
}

#logo {
	font-size: 26px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding: 15px 0;
	
	a {
		 color: ightblue;
	}
}

#main_content {  
	#content {
		float: none;
	}
	padding-bottom: 100px;
	.link {
		padding: 2em 1em;
		border-bottom: 1px solid #e9e9e9;
		.title {

			a {
				color: #FF4500;
			}
		}
	}
	.comments_title {
		margin-top: 2em;
	}
	#comments {
		.comment {
			padding: 1em 0;
			border-top: 1px solid #E9E9E9;
			.lead {
				margin-bottom: 0;
			}
		}
	}
}

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

.pic {
    background-color: white;
    border: 1px solid #d9d9d9;
    height: 150px;
    width: 150px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}