// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome{
	
	    background-image: image_url('books.jpg');
	    background-size: cover;
	
}

a:visited {
    color: black;
}